body {
    margin: 0;
    background-color: rgb(255, 255, 255);
    font-family: 'Montserrat', sans-serif;
   
    background-blend-mode: screen;
    
}

section.home {
     background-image: url("https://appbeats.themetags.com/img/hero-bg-3.jpg");
     background-size:cover;
     background-repeat: no-repeat;
     height: 700px;
     padding-top: 50px ;
     position: relative;
}
section.home::before {
    content: "";
    background: rgb(212,47,205);
    background: linear-gradient(90deg, rgba(212,47,205,1) 0%, rgba(9,9,121,1) 35%, rgb(62, 80, 221) 63%, rgb(60, 89, 249) 100%);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.8;
}
section.home .container {
   
    position: relative;
    padding-top: 200px;
}
section.home .container .left {
  width: 50%;
  color: white;
}
section.home .container .left h1 {
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 5px;
}
section.home .container .left p {
    line-height: 35px;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 50px;
}
section.home .container .right {
    
    position:absolute;
    top: 150px;
    left: 700px;
}
section.home .container .right img {
    width: 350px;
    height: 690 px;
    z-index: 2;
    position: absolute;
   
}
.video-wrapper {
    position: absolute;
 
   z-index: 1;
   top: 13px;
   left: 2px;
  
}
.video {
    border-radius: 13%;
}
.bottom-wave {
    position: absolute;
    right: 0;
    left: 0;
    bottom: -8px;
    width: 100%;
    margin: 0 auto;
   

}

.container {
    width: 1140px;
    margin: 0 auto;
}

header {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%; 
    z-index: 3; 
    background: rgb(212,47,205);
    background: linear-gradient(90deg, rgba(212,47,205,1) 0%, rgba(9,9,121,1) 35%, rgb(62, 80, 221) 63%, rgb(60, 89, 249) 100%);
}

header .container {
    display: flex;
    justify-content: space-between;
    
}
header .logo img {
    width: 160px;
    margin-top: 15px;
}
header nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
}
header nav ul li {
   padding: 10px;
}
header nav ul li a {
text-decoration: none;
padding: 10px 5px;
color: white;
opacity: 0.8;
display: block;
font-size: 13px;

}
header nav ul a:hover {
    opacity: 1;
}
a {
    text-decoration: none;
}
.buttons {
    display: flex;
    gap: 20px;
  
}
.button {
   display: block;
    color: white;
   border: 1px solid white;
    border-radius: 30px;
    height: 20px;
    padding: 15px 15px; 
    font-weight: bold;
    font-size: 14px;
    transition: all 0.5s ease-in-out;
}
#button_left {
    color: purple;
    background-color: white;
}  
#button_left:hover {
    background: none;
    color: white;
    transform: translateY(-8px);
}
#button_right:hover {
    color: purple;
    background-color: white;
    transform: translateY(-8px);
}
/* section clients */

.clients {
    
   padding-top: 30px;
   height: 164px;
  
}
.flex_container {
    display: flex;
    gap: 60px;
  align-items: center;
    
}
.clients_logo img {
    width: 70px;
}
 .clients_logo {
    display: flex;
    gap: 30px;
}
.flex_container p {
   
    font-size: 20px;
    font-weight: lighter;
}

/* Section Promo */

.promo {
    padding-top:50px ;
    text-align: center;
}
.promo_text {
    width: 730px;
    margin: 0 auto;
}
.promo_text h2 {
    font-size: 35px;
    font-weight: 600;
}
.promo_text p {
    line-height: 30px;
    font-size: 18px;
    font-weight: lighter;
}

/* Section promo boxes */
.three-boxes {
    display: flex;
    gap: 30px;
}
.promo-box-left {
    border: 1px solid rgb(197, 196, 196);
    padding: 50px;
    margin-top: 20px;
    margin-bottom: 100px;
    border-radius: 8px;
    border-top: 5px solid rgb(117, 64, 224);
    box-shadow: 0px 5px 15px 5px rgb(238, 238, 238);
    transition: all 0.5s ease-in-out;
}
.promo-box-center {
    border: 1px solid rgb(197, 196, 196);
    padding: 50px;
    margin-top: 20px;
    margin-bottom: 100px;
    border-radius: 8px;
    border-top: 5px solid blue;
    box-shadow: 0px 5px 15px 5px rgb(238, 238, 238);
    transition: all 0.5s ease-in-out;
}
.promo-box-right {
    border: 1px solid rgb(197, 196, 196);
    padding: 50px;
    margin-top: 20px;
    margin-bottom: 100px;
    border-radius: 8px;
    border-top: 5px solid rgb(175, 81, 212);
    box-shadow: 0px 5px 15px 5px rgb(238, 238, 238);
    transition: all 0.5s ease-in-out;
}
.promo-img img {
    width: 80px;
}
.promo-heading h3{
    font-weight: 600;
    font-size: 19px;
}
.promo-par p {
    font-weight: 300;
    line-height: 25px;
    font-size: 15px;
}
.promo-par .smart {
    font-size: 10px;
    background-color: rgb(254, 220, 220);
   text-transform: uppercase;
   padding: 5px 10px;
   color: red;
   border-radius: 5px;
}
.promo-box-center .promo-par .smart {
    font-size: 10px;
    background-color: rgb(220, 243, 231);
   text-transform: uppercase;
   padding: 5px 10px;
   color: rgb(50, 175, 80);
   border-radius: 5px;
}
.promo-box-right .promo-par .smart {
    font-size: 10px;
    background-color: rgb(227, 217, 252);
   text-transform: uppercase;
   padding: 5px 10px;
   color: blue;
   border-radius: 5px;
}
.promo-par .flexi {
    font-size: 10px;
    background-color: rgb(234, 218, 255);
   text-transform: uppercase;
   padding: 5px 10px;
   color: purple;
   border-radius: 5px;
}
.promo-box-center .promo-par .flexi {
    font-size: 10px;
    background-color: rgb(254, 220, 220);
   text-transform: uppercase;
   padding: 5px 10px;
   color:red;
   border-radius : 5px;
}
.promo-box-right .promo-par .flexi {
    font-size: 10px;
    background-color: rgb(252, 226, 207);
   text-transform: uppercase;
   padding: 5px 10px;
   color: orange;
   border-radius: 5px;
}
.promo-box-left:hover {
    margin-top: 10px;
    margin-bottom: 110px;
}
.promo-box-center:hover {
    margin-top: 10px;
    margin-bottom: 110px;
}
.promo-box-right:hover {
    margin-top: 10px;
    margin-bottom: 110px;
}

/* Section Features */

.features {
    background-color: rgb(249, 249, 249);
    padding: 70px 0;
}

.nav-item {
    display: flex;
  justify-content: center;
  gap: 30px;
  
}
.nav-item li {
   display: flex;
   align-content: center;
    list-style: none;
    border-bottom: 2px solid rgb(175, 175, 175);
    padding: 20px 0px;
    
}
.nav-item li:hover {
    border-bottom: 2px solid rgba(175, 175, 175, 0.6);
}
.nav-item img {
    width: 25px;
    padding-right: 10px;
   
    
}
.nav-item a {
    color: black;
    padding: 0px;
    font-weight: 600;
    font-size: 16px;
}
.features-items {
    display: flex;
    gap: 50px;
    padding-top: 30px;
}
.features-items img {
    width: 445px;
}
.features-items h1 {
    color: rgb(150, 77, 214);
    margin-bottom: 20px;
    font-size: 70px;
    font-weight: 100;
    font-family:Arial, Helvetica, sans-serif;
}
.features-items h2 {
    font-size: 30px;
    font-weight: 600;
    
}
.features-items p {
    line-height: 30px;
    font-weight: 100;
    font-size: 16px;
}
.features-items a {
    font-weight: 300;
    font-size: 16px;
    margin-top: 30px;
}