body {
    margin: 0;
    background-color: rgb(255, 255, 255);
    font-family: 'Montserrat', sans-serif;
   
    background-blend-mode: screen;
    
}

section.home {
     background-image: url("https://appbeats.themetags.com/img/hero-bg-3.jpg");
     background-size:cover;
     background-repeat: no-repeat;
     height: 800px;
     padding-top: 50px ;
     position: relative;
}
section.home::before {
    content: "";
    background: rgb(212,47,205);
     background-image: linear-gradient(to left, rgba(50, 100, 245, 0.90), rgba(74, 84, 232, 0.88), rgba(91, 66, 219, 0.85), rgba(104, 44, 203, 0.88), rgba(114, 2, 187, 0.90));
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.8;
}
section.home .container {
   
    position: relative;
    padding-top: 200px;
}
section.home .container .left {
  width: 50%;
  color: white;
}
section.home .container .left h1 {
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 5px;
}
section.home .container .left p {
    line-height: 35px;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 50px;
}
section.home .container .right {
    
    position:absolute;
    top: 150px;
    left: 700px;
}
section.home .container .right img {
    width: 350px;
    height: 690 px;
    z-index: 2;
    position: absolute;
   
}
.video-wrapper {
    position: absolute;
 
   z-index: 1;
   top: 13px;
   left: 2px;
  
}
.video {
    border-radius: 13%;
}
.bottom-wave {
    position: absolute;
    right: 0;
    left: 0;
    bottom: -8px;
    width: 100%;
    margin: 0 auto;
   

}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

header {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%; 
    z-index: 3; 
    background: rgb(212,47,205);
    background-image: linear-gradient(to left, rgba(50, 100, 245, 0.90), rgba(74, 84, 232, 0.88), rgba(91, 66, 219, 0.85), rgba(104, 44, 203, 0.88), rgba(114, 2, 187, 0.90));
}

header .container {
    display: flex;
    justify-content: space-between;
    
}
header .logo img {
    width: 160px;
    margin-top: 15px;
}
header nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
}
header nav ul li {
   padding: 10px;
}
header nav ul li a {
text-decoration: none;
padding: 10px 5px;
color: white;
opacity: 0.8;
display: block;
font-size: 13px;

}
header nav ul a:hover {
    opacity: 1;
}
a {
    text-decoration: none;
}
.buttons {
    display: flex;
    gap: 20px;
  
}
.button {
   display: block;
    color: white;
   border: 1px solid white;
    border-radius: 30px;
    font-weight: bold;
    padding: 15px 30px;
    font-size: 15px;
    transition: all 0.5s ease-in-out;
}
#button_left {
    color: purple;
    background-color: white;
}  
#button_left:hover {
    background: none;
    color: white;
    transform: translateY(-8px);
}
#button_right:hover {
    color: purple;
    background-color: white;
    transform: translateY(-8px);
}
/* section clients */

.clients {
    
   padding-top: 30px;
   height: 164px;
  
}
.flex_container {
    display: flex;
    gap: 60px;
  align-items: center;
    
}
.clients_logo img {
    width: 70px;
}
 .clients_logo {
    display: flex;
    gap: 30px;
}
.flex_container p {
   
    font-size: 20px;
    font-weight: lighter;
}

/* Section Promo */

.promo {
    padding-top: 30px ;
    text-align: center;
}
.promo_text {
    width: 730px;
    margin: 0 auto;
}
.promo_text h2 {
    font-size: 35px;
    font-weight: 600;
}
.promo_text p {
    line-height: 30px;
    font-size: 18px;
    font-weight: lighter;
}

/* Section promo boxes */
.three-boxes {
    display: flex;
    gap: 30px;
}
.promo-box-left {
    border: 1px solid rgb(197, 196, 196);
    padding: 50px;
    margin-top: 20px;
    margin-bottom: 100px;
    border-radius: 8px;
    border-top: 5px solid rgb(117, 64, 224);
    box-shadow: 0px 5px 15px 5px rgb(238, 238, 238);
    transition: all 0.5s ease-in-out;
}
.promo-box-center {
    border: 1px solid rgb(197, 196, 196);
    padding: 50px;
    margin-top: 20px;
    margin-bottom: 100px;
    border-radius: 8px;
    border-top: 5px solid blue;
    box-shadow: 0px 5px 15px 5px rgb(238, 238, 238);
    transition: all 0.5s ease-in-out;
}
.promo-box-right {
    border: 1px solid rgb(197, 196, 196);
    padding: 50px;
    margin-top: 20px;
    margin-bottom: 100px;
    border-radius: 8px;
    border-top: 5px solid rgb(175, 81, 212);
    box-shadow: 0px 5px 15px 5px rgb(238, 238, 238);
    transition: all 0.5s ease-in-out;
}
.promo-img img {
    width: 80px;
}
.promo-heading h3{
    font-weight: 600;
    font-size: 19px;
}
.promo-par p {
    font-weight: 300;
    line-height: 25px;
    font-size: 15px;
}
.promo-par .smart {
    font-size: 10px;
    background-color: rgb(254, 220, 220);
   text-transform: uppercase;
   padding: 5px 10px;
   color: red;
   border-radius: 5px;
}
.promo-box-center .promo-par .smart {
    font-size: 10px;
    background-color: rgb(220, 243, 231);
   text-transform: uppercase;
   padding: 5px 10px;
   color: rgb(50, 175, 80);
   border-radius: 5px;
}
.promo-box-right .promo-par .smart {
    font-size: 10px;
    background-color: rgb(227, 217, 252);
   text-transform: uppercase;
   padding: 5px 10px;
   color: blue;
   border-radius: 5px;
}
.promo-par .flexi {
    font-size: 10px;
    background-color: rgb(234, 218, 255);
   text-transform: uppercase;
   padding: 5px 10px;
   color: purple;
   border-radius: 5px;
}
.promo-box-center .promo-par .flexi {
    font-size: 10px;
    background-color: rgb(254, 220, 220);
   text-transform: uppercase;
   padding: 5px 10px;
   color:red;
   border-radius : 5px;
}
.promo-box-right .promo-par .flexi {
    font-size: 10px;
    background-color: rgb(252, 226, 207);
   text-transform: uppercase;
   padding: 5px 10px;
   color: orange;
   border-radius: 5px;
}
.promo-box-left:hover {
    margin-top: 10px;
    margin-bottom: 110px;
}
.promo-box-center:hover {
    margin-top: 10px;
    margin-bottom: 110px;
}
.promo-box-right:hover {
    margin-top: 10px;
    margin-bottom: 110px;
}

/* Section Features */

.features {
    background-color: rgb(249, 249, 249);
    padding: 70px 0;
}

.nav-item {
    display: flex;
  justify-content: center;
  gap: 30px;
  
}
.nav-item li {
   display: flex;
   align-content: center;
    list-style: none;
    border-bottom: 2px solid rgb(175, 175, 175);
    padding: 20px 0px;
    
}
.nav-item li:hover {
    border-bottom: 2px solid rgba(175, 175, 175, 0.6);
}
.nav-item img {
    width: 25px;
    padding-right: 10px;
   
    
}
.nav-item a {
    color: black;
    padding: 0px;
    font-weight: 600;
    font-size: 16px;
}
.features-items {
    display: flex;
    gap: 50px;
    padding-top: 30px;
}
.features-items img {
    width: 445px;
}
.features-items h1 {
    color: rgb(150, 77, 214);
    margin-bottom: 20px;
    font-size: 70px;
    font-weight: 500;
    
   
}
.features-items h2 {
    font-size: 30px;
    font-weight: 600;
    
}
.features-items p {
    line-height: 30px;
    font-weight: 100;
    font-size: 16px;
}
.features-items a {
    font-weight: 300;
    font-size: 16px;
    margin-top: 30px;
}
/* Analytics  */

section.analytics i.bi {
    color: white;
    background-color: #6a06ad;
    font-size: 27px;
    padding: 15px;
    border-radius: 4px;
 }
 section.analytics p{
    font-size: 15px;
    line-height: 1.8rem;
    font-weight: 300;
    padding-right: 5px;

 }
 section.analytics h5 {
    font-weight: 600;
    margin-top: 35px;
 }
 section.analytics h2 {
    font-weight: 600;
    font-size: 37px;
 }
 /* Section Photo Slide */

 section.slide-photo h2 {
    font-weight: 600;
    font-size: 37px;
    padding-top: 50px;
 }
 section.slide-photo p {
    font-size: 15px;
    line-height: 1.8rem;
    font-weight: 300;
 }
 section.slide-photo ul {
    list-style: none;
    margin-left:-220px;
 }
 section.slide-photo li img {
    height: 491px ;
    width: 278px ;
    border-radius: 30px;
    padding-bottom: 10px;
    
 }
 section.slide-photo img {
    height: 503px ;
    left: 410px;
    width: 293px ;
    bottom: 37px;
    z-index: 2;
 }
 section.slide-photo .slider {
   overflow: hidden;
 }
 /* Section Download */
 section.download h2 {
    font-weight: 500;
    font-size: 37px;
    padding-bottom: 20px;
 }
 section.download p {
    font-size: 18px;
    line-height: 2rem;
    font-weight: 300;
    padding-bottom: 20px;
 }
 section.download img {
    width: 635px;
 }
 section.download .download-left {
    padding: 100px 5px;
 }
 section.download .download-right {
    padding-top: 100px;
 }

 /* Section Testimonials */
 .testimonials {
    padding-top: 100px;
    padding-bottom: 100px;
 }

 section.testimonials .card p {
    font-size: 15px;
    line-height: 1.6rem;
    font-weight: 300;
 }
 section.testimonials .card {
    background-color: rgb(249, 249, 249);
    border-radius: 3px;
    box-shadow: 0 2px 2px rgba(234, 234, 234, 0.7 );
    position: relative;
 }
 section.testimonials .card::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 30px 30px 0 0;
    border-color: #f8f9f9 transparent transparent transparent;
    bottom: -30px;
    left: 40px;
   
} 

 section.testimonials .card i {
    color: rgb(255, 85, 0);
    font-size: 13px;
 }
 .card-line {
    padding-top: 30px;
 }
 section.testimonials h2 {
    font-weight: 600;
    font-size: 36px;
    padding-bottom: 10px;
 }
 section.testimonials p {
    font-size: 18px;
    line-height: 2rem;
    font-weight: 300;
 }
 .testimonials img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
 }
 .testimonials .client p {
    font-size: 15px;
 }
 /* Section Pricing */
 .pricing {
    background-color:rgb(249, 249, 249) ;
    padding: 6rem 0;
 }
 .pricing .price-compare {
    padding: 70px 10px;
 }
 .pricing .price-compare h2 {
   font-weight: 600;
   font-size: 36px;
 }
 .pricing .price-compare p {
    font-size: 18px;
    line-height: 2rem;
    font-weight: 300;
 }
 .pricing .monthly {
    background-color:#6a06ad ;
    color: white;
    border: 2px solid #6a06ad;
    font-size: 14px;
    font-weight: 600;
 }
 .pricing .yearly {
    border: 2px solid #6a06ad;
    font-size: 14px;
    background-color: white;
    font-weight: 600;
 }
 .pricing .basic {
    width: 333px;
    border: 1px solid rgb(235, 235, 235);
    border-radius: 4px;
 }
 .pricing .basic h5 {
    font-weight: 600;
    font-size: 20px;
    padding: 20px 0;
 }
 .pricing .basic h2 {
    font-weight: 700;
    font-size: 36px;
    color: rgb(106, 106, 106);
    padding: 20px 10px;
    position: relative;
 }
 .pricing .basic h2::after {
    content: "";
    height: 1px;
    width: 100%;
    bottom: 0;
    left: 0;
    background: rgb(254,254,254);
    background: linear-gradient(90deg, rgba(254,254,254,1) 0%, rgb(215, 215, 215) 48%, rgba(255,255,255,1) 100%);
    position: absolute;
} 
 .pricing .basic p {
    font-weight: 300;
    font-size: 14px;
    line-height: 12px;
    color: rgb(124, 131, 156);
 }
 .pricing .paragraph {
     padding-top:25px ;   
 }
 .pricing .btn {
    font-size: 15px;
    padding: 12px 22px;
    border: 2px solid #6a06ad;
    margin: 20px 0 40px 0;
 }
 .pricing .left-button a {
    color:#6a06ad;   
 }
 .pricing .left-button a:hover {
    background-color:#6a06ad ;
    color: white;
 } 
 .pricing .right-button a {
    background-color:#6a06ad;
    color: white;
    box-shadow: 3px 8px 15px 10px rgba(199, 185, 227, 0.3);
 }
 .pricing .right-button a:hover {
    background-color: white;
    color: black;
    
 }
 .pricing .basic-right {
    border-top: 4px solid #6a06ad;
    box-shadow: 0px 8px 15px 10px rgba(199, 185, 227, 0.2);
 }
 .pricing .basic-right:hover {
    transform: translateY(-8px);
    border-radius: 15px;
 }
 .pricing .basic:hover {
    transform: translateY(-8px);
    border-radius: 15px;
    border-top: 4px solid #6a06ad;
    box-shadow: 0px 8px 20px 15px rgba(199, 185, 227, 0.2);
    transition: all 0.2s ease-in-out;
 }

 /* Section Queries */
 .queries {
    padding: 100px 0;
 }
 .queries h2 {
    font-weight: 600;
    font-size: 36px;
    padding: 15px 0;
 }
 .queries p {
    font-weight: 300;
    font-size: 15px;
    line-height: 1.7rem;
    padding-bottom: 20px;
 }